<!DOCTYPE html>
<html>
<head>
    <title>UW_MADISON PROJECT</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "/accessData", 
                data: $('form').seralize(), 
                type: 'POST',
                success: function(response){
                    console.log(response);
                    profAvg = response.m;
                    $(".instructor ng-star-inserted").html("<p style=\"background-color: #6bcc5c; border: 5px solid #a7fc9a; border-radius: 10px; color: #c6f5d3; max-width: 50px; padding: 7px 10px; text-align: center;\">★:" + profAvg + "</p>")
                }, 
            })
        })
    </script>
</body>
</html>